{% load static %}

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="{% static 'img/logo-small.png' %}">
            </div>
        </a>
        <a href="#" class="simple-text logo-normal">
            PSUSphere
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Components</p>
                </a>
            </li>
            <!-- More sidebar items -->
        </ul>
    </div>
</div>
